:root {
    --mainBlue: #0062ff;
    --lightBlue: #75aaff;
    --mainWhite: #f3f3f3;
    --mainDark: #232323;
    --mainYellow: #ffa400;
}

body {
    font-family: 'Oswald', sans-serif !important;
    background: var(--mainDark) !important;
    color: var(--mainWhite) !important;
}

.text-title {
    font-family: 'Permament Marker', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}

.text-bright {
    color: var(--lightBlue);
}
.logo {
    width: 20px;
    height: 20px;
    color: var(--lightBlue);
}